Repository mattsp1290/ag-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate, go-build, proto-validate, go-govulncheck

go-generate:
  name: Go Generate
  description: Runs go generate to ensure generated code is up to date
  entry: go
  language: system
  args:
  - generate
  - ./...
  pass_filenames: false

go-build:
  name: Go Build
  description: Builds the project to ensure it compiles
  entry: go
  language: system
  args:
  - build
  - ./...
  pass_filenames: false

proto-validate:
  name: Protocol Buffer Validation
  description: Validates that protobuf files can be compiled
  entry: bash
  language: system
  args:
  - -c
  - if [ -f "Makefile" ]; then make proto-gen; else echo "Makefile not found, skipping proto generation"; fi
  pass_filenames: false

go-govulncheck:
  name: Go Vulnerability Check
  description: Checks for known vulnerabilities in Go dependencies
  entry: govulncheck
  language: system
  args:
  - ./...
  pass_filenames: false

Implement shared state module with RFC 6902 patch streaming
  go-sdk/examples/server/cmd/server/main.go
  go-sdk/examples/server/go.mod
  go-sdk/examples/server/go.sum
  go-sdk/examples/server/internal/state/models.go
  go-sdk/examples/server/internal/state/store.go
  go-sdk/examples/server/internal/state/store_test.go
  go-sdk/examples/server/routes/shared_state.go
  go-sdk/examples/server/routes/shared_state_test.go
Due: go-generate, go-build, go-govulncheck

Implement predictive state updates example route
  go-sdk/examples/server/cmd/server/main.go
  go-sdk/examples/server/routes/predictive_state.go
  go-sdk/examples/server/routes/predictive_state_test.go
Due: go-generate, go-build

Add comprehensive parity integration tests for AG-UI server routes
  go-sdk/examples/server/go.mod
  go-sdk/examples/server/go.sum
  go-sdk/examples/server/internal/state/models.go
  go-sdk/examples/server/internal/state/store.go
  go-sdk/examples/server/internal/state/store_test.go
  go-sdk/examples/server/parity_integration_test.go
  go-sdk/examples/server/routes/predictive_state.go
  go-sdk/examples/server/routes/predictive_state_test.go
  go-sdk/examples/server/routes/shared_state.go
  go-sdk/examples/server/routes/shared_state_test.go
  go-sdk/examples/server/routes/tool_based_generative_ui_test.go
  go-sdk/examples/server/testdata/agentic-chat.golden.json
Due: go-generate, go-build, go-govulncheck

Add comprehensive unit tests for core AG-UI server infrastructure
  go-sdk/examples/server/internal/encoding/coverage_test.go
  go-sdk/examples/server/internal/encoding/encoder_test.go
  go-sdk/examples/server/internal/transport/sse/handler_test.go
  go-sdk/examples/server/internal/transport/sse/robustness_test.go
Due: go-generate, go-build

create readme for example server
  go-sdk/examples/server/README.md
Due: none

Implement structured logging with logrus for AG-UI server
  go-sdk/examples/server/cmd/server/main.go
  go-sdk/examples/server/go.mod
  go-sdk/examples/server/go.sum
  go-sdk/examples/server/internal/logging/logging.go
  go-sdk/examples/server/internal/logging/logging_test.go
  go-sdk/examples/server/internal/middleware/accesslog.go
  go-sdk/examples/server/internal/middleware/middleware_test.go
  go-sdk/examples/server/internal/middleware/recovery.go
  go-sdk/examples/server/internal/middleware/requestcontext.go
Due: go-generate, go-build, go-govulncheck

Add CLI subcommands for AG-UI client
  go-sdk/examples/client/README.md
  go-sdk/examples/client/cmd/fang/main.go
  go-sdk/examples/client/go.mod
  go-sdk/examples/client/go.sum
  go-sdk/examples/client/internal/logging/logging.go
Due: go-generate, go-build, go-govulncheck

Implement comprehensive config management for AG-UI client
  go-sdk/examples/client/cmd/fang/main.go
  go-sdk/examples/client/go.mod
  go-sdk/examples/client/go.sum
  go-sdk/examples/client/internal/config/config.go
  go-sdk/examples/client/internal/config/config_test.go
Due: go-generate, go-build, go-govulncheck

Add missing AG-UI event types for protocol parity
  go-sdk/examples/client/go.mod
  go-sdk/examples/client/go.sum
  go-sdk/examples/client/validation_spike_test.go
  go-sdk/pkg/core/events/events.go
  go-sdk/pkg/core/events/message_events.go
  go-sdk/pkg/core/events/new_events_test.go
  go-sdk/pkg/core/events/thinking_events.go
  go-sdk/pkg/core/events/thinking_events_test.go
  go-sdk/pkg/core/events/tool_events.go
  go-sdk/pkg/messages/types.go
Due: go-generate, go-build, go-govulncheck

feat: ensure encoder/decoder compatibility for AG-UI events
  go-sdk/pkg/core/events/ENCODER_COMPATIBILITY.md
  go-sdk/pkg/core/events/json_helpers.go
  go-sdk/pkg/core/events/json_helpers_test.go
  go-sdk/pkg/core/events/roundtrip_test.go
  go-sdk/pkg/core/events/run_events.go
  go-sdk/pkg/core/events/testdata/fixtures/misc_events.json
  go-sdk/pkg/core/events/testdata/fixtures/run_events.json
  go-sdk/pkg/core/events/testdata/fixtures/state_events.json
  go-sdk/pkg/core/events/testdata/fixtures/text_message_events.json
  go-sdk/pkg/core/events/testdata/fixtures/thinking_events.json
  go-sdk/pkg/core/events/testdata/fixtures/tool_call_events.json
  go-sdk/pkg/core/events/tool_events.go
Due: go-generate, go-build

feat: implement SSE connection core for AG-UI client
  go-sdk/examples/client/cmd/fang/main.go
  go-sdk/examples/client/examples/sse_stream_example.sh
  go-sdk/examples/client/internal/sse/README.md
  go-sdk/examples/client/internal/sse/benchmark_test.go
  go-sdk/examples/client/internal/sse/client.go
  go-sdk/examples/client/internal/sse/client_test.go
  go-sdk/examples/client/internal/sse/leak_test.go
  go-sdk/examples/client/internal/sse/types.go
Due: go-generate, go-build

feat: implement robust SSE parser for AG-UI client
  go-sdk/examples/client/go.mod
  go-sdk/examples/client/internal/sse/integration.go
  go-sdk/examples/client/internal/sse/parser.go
  go-sdk/examples/client/internal/sse/parser_test.go
Due: go-generate, go-build, go-govulncheck

feat: implement SSE reconnection with exponential backoff for AG-UI client
  go-sdk/examples/client/internal/sse/README_RECONNECTION.md
  go-sdk/examples/client/internal/sse/client.go
  go-sdk/examples/client/internal/sse/example_reconnect_test.go
  go-sdk/examples/client/internal/sse/reconnector.go
  go-sdk/examples/client/internal/sse/reconnector_test.go
Due: go-generate, go-build

fix: resolve data race in TestReconnectorIdleTimeout
  go-sdk/examples/client/internal/sse/reconnector_test.go
Due: go-generate, go-build

feat: implement tool schema and discovery for AG-UI client
  go-cli/pkg/tools/discovery.go
  go-cli/pkg/tools/discovery_test.go
  go-cli/pkg/tools/example_test.go
  go-cli/pkg/tools/registry.go
  go-cli/pkg/tools/registry_test.go
  go-cli/pkg/tools/types.go
  go-cli/pkg/tools/types_test.go
  go-cli/pkg/tools/validator.go
  go-cli/pkg/tools/validator_test.go
Due: go-generate, go-build

feat: implement real-time UI renderer for SSE events in Go CLI
  go-sdk/examples/client/cmd/fang/main.go
  go-sdk/examples/client/examples/stream_demo.sh
  go-sdk/examples/client/go.mod
  go-sdk/examples/client/go.sum
  go-sdk/examples/client/internal/ui/README.md
  go-sdk/examples/client/internal/ui/integration_test.go
  go-sdk/examples/client/internal/ui/renderer.go
  go-sdk/examples/client/internal/ui/renderer_test.go
Due: go-generate, go-build, go-govulncheck

feat: implement robust error handling and retry logic for tool calls
  go-sdk/examples/client/cmd/fang/main.go
  go-sdk/examples/client/internal/tools/errors.go
  go-sdk/examples/client/internal/tools/errors_test.go
  go-sdk/examples/client/internal/tools/handler.go
  go-sdk/examples/client/internal/tools/handler_test.go
  go-sdk/examples/client/internal/tools/integration.go
  go-sdk/examples/client/internal/tools/retry.go
  go-sdk/examples/client/internal/tools/retry_test.go
  go-sdk/examples/client/internal/ui/renderer.go
Due: go-generate, go-build

feat: implement session open/close commands for AG-UI client
  go-sdk/examples/client/cmd/fang/main.go
  go-sdk/examples/client/cmd/fang/session_test.go
  go-sdk/examples/client/internal/session/store.go
  go-sdk/examples/client/internal/session/store_test.go
Due: go-generate, go-build

feat(client): add comprehensive authentication support for AG-UI client
  go-sdk/examples/client/cmd/fang/main.go
  go-sdk/examples/client/internal/config/auth.go
  go-sdk/examples/client/internal/config/auth_test.go
  go-sdk/examples/client/internal/config/config.go
  go-sdk/examples/client/internal/logging/logging.go
  go-sdk/examples/client/internal/logging/logging_test.go
  go-sdk/examples/client/internal/sse/client.go
Due: go-generate, go-build

feat(client): implement tools list command for AG-UI client
  go-sdk/examples/client/cmd/fang/main.go
  go-sdk/examples/client/cmd/fang/tools_test.go
Due: go-generate, go-build

chore: add generated client binaries to gitignore
  .gitignore
Due: none

fix tests
  go-sdk/pkg/client/sse/client_test.go
Due: go-generate, go-build

update seewriter interface
  go-sdk/pkg/client/sse/client.go
  go-sdk/pkg/core/events/decoder.go
  go-sdk/pkg/encoding/sse/writer.go
Due: go-generate, go-build

feat: update iframe capabilities for dojo (re CPK docs) (#523)
  typescript-sdk/apps/dojo/package.json
  typescript-sdk/apps/dojo/src/app/[integrationId]/feature/layout.tsx
  typescript-sdk/apps/dojo/src/app/[integrationId]/feature/predictive_state_updates/page.tsx
  typescript-sdk/apps/dojo/src/app/[integrationId]/feature/shared_state/page.tsx
  typescript-sdk/apps/dojo/src/app/[integrationId]/feature/subgraphs/page.tsx
  typescript-sdk/apps/dojo/src/app/[integrationId]/feature/tool_based_generative_ui/page.tsx
  typescript-sdk/apps/dojo/src/app/globals.css
  typescript-sdk/apps/dojo/src/app/layout.tsx
  typescript-sdk/apps/dojo/src/components/code-viewer/code-editor.tsx
  typescript-sdk/apps/dojo/src/components/code-viewer/code-viewer.tsx
  typescript-sdk/apps/dojo/src/components/file-tree/file-tree.tsx
  typescript-sdk/apps/dojo/src/components/layout/main-layout.tsx
  typescript-sdk/apps/dojo/src/components/layout/viewer-layout.tsx
  typescript-sdk/apps/dojo/src/components/theme-wrapper.tsx
  typescript-sdk/apps/dojo/src/components/ui/tabs.tsx
  typescript-sdk/apps/dojo/src/contexts/url-params-context.tsx
  typescript-sdk/apps/dojo/src/files.json
  typescript-sdk/apps/dojo/src/utils/use-is-inside-iframe.ts
  typescript-sdk/apps/dojo/src/utils/use-mobile-chat.ts
Due: none

update gitignore with python, node, rust, java, nim, kotlin, and dart
  .gitignore
Due: none

fix pnpm workspace
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update prep/run dojo scripts
  apps/dojo/scripts/prep-dojo-everything.js
  apps/dojo/scripts/run-dojo-everything.js
Due: none

update generate content json
  apps/dojo/scripts/generate-content-json.ts
  apps/dojo/src/files.json
Due: none

fix langgraph platform python dojo example pathing
  integrations/langgraph/python/examples/poetry.lock
  integrations/langgraph/python/examples/pyproject.toml
  integrations/langgraph/python/examples/uv.lock
  integrations/langgraph/python/pyproject.toml
Due: none

Fix pathing in server-starter-all-features
  integrations/server-starter-all-features/python/examples/poetry.lock
  integrations/server-starter-all-features/python/examples/pyproject.toml
Due: none

update github workflows
  .github/workflows/check-generated-files.yml
  .github/workflows/dojo-e2e.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  go-generate: any of: \.go$, but not: (?x)^(
  \.pb\.go$|
  vendor/|
  node_modules/|
  \.git/|
  \.vscode/|
  \.idea/|
  coverage\.out$|
  .*\.log$|
  bin/|
  dist/|
  build/
)$

  go-build: any of: \.go$, but not: (?x)^(
  \.pb\.go$|
  vendor/|
  node_modules/|
  \.git/|
  \.vscode/|
  \.idea/|
  coverage\.out$|
  .*\.log$|
  bin/|
  dist/|
  build/
)$

  proto-validate: any of: \.proto$, but not: (?x)^(
  \.pb\.go$|
  vendor/|
  node_modules/|
  \.git/|
  \.vscode/|
  \.idea/|
  coverage\.out$|
  .*\.log$|
  bin/|
  dist/|
  build/
)$

  go-govulncheck: any of: go\.(mod|sum)$, but not: (?x)^(
  \.pb\.go$|
  vendor/|
  node_modules/|
  \.git/|
  \.vscode/|
  \.idea/|
  coverage\.out$|
  .*\.log$|
  bin/|
  dist/|
  build/
)$

